include *.rst
include setup.py _version_helper.py
recursive-include autoslug *.py
recursive-include docs *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
prune docs/_build
prune docs/_themes

# RTFD needs at least its own file for subsequent builds
recursive-include requirements *.txt
