include *.rst
include COPYING.LESSER
include pyproject.toml setup.py _version_helper.py
include run_tests.py
recursive-include autoslug *.py
recursive-include docs *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
prune docs/_build
prune docs/_themes

# RTFD needs at least its own file for subsequent builds
recursive-include requirements *.txt
