name: build

on: [push, pull_request]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install dependencies
        run: python -m pip install -r requirements/testing.txt

      - name: Run tests
        run: coverage run --source=autoslug run_tests.py

  deploy:
    name: Deploy
    environment: Deployment
    needs: test
    runs-on: ubuntu-latest
    if: github.ref=='refs/heads/master' && github.event_name!='pull_request'

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Check release
        id: check_release
        run: |
          python -m pip install poetry githubrelease httpx==0.18.2 autopub twine
          echo "release=$(autopub check)" >> $GITHUB_OUTPUT

      - name: Publish
        if: ${{ steps.check_release.outputs.release=='' }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          TWINE_USERNAME: "__token__"
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          git remote set-url origin https://$GITHUB_TOKEN@github.com/${{ github.repository }}
          autopub deploy
